/* body.is-page-detailed-work .modular-content-area img {
    width: 350px !important;
    max-width: 350px !important;
} */

/* body.is-page-detailed-work .modular-content-area h1 {
    color: red;
}

.modular-content-area img[data-modular-bridge="hero-image"] {
    width: 600px;
    max-width: 350px;
} */

/* .detailed-work img[data-modular-bridge="hero-image"] {
    width: 600px;
    max-width: 600px;
    width: 400px;
} */
